<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Add User </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-info" href="#" th:href="@{/users}"> Back to All Users </a>
            <form action="#" class="form-horizontal"
                  th:action="@{/users/create}"
                  th:object="${user}"
                  method="post">
                <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
					</span>
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th hidden> id </th>
                            <th> name </th>
                            <th> email </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input hidden th:name="id" th:value="${user.getId()}"/></td>
                            <td><input th:placeholder="Name + ' ' + ${user.name}" th:name="name" th:value="${user.getName()}"
                                       required/></td>
                            <td><input th:placeholder="Email + ' ' + ${user.email}" th:name="email"
                                       th:value="${user.getEmail()}" required/></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>